* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-height {
    height: 500px;

}


.carousel_height {
    height: 60vh;
    margin: 0;
    padding: 0;
}

.sub_container {
    height: 300px;
    display: flex;

    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.manager_heading {
    padding: 12px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: #636397;
    font-weight: 700;
}

.card-spaced {
    float: left
}

.manager_card_heading {
    text-align: center;
    color: blue;
    text-decoration: underline;
    margin-bottom: 12px;
}

.card-heading {
    text-align: center;
    font-family: auto;
    font-weight: 900;
    text-decoration: underline;
}