*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    /* width: 100%; */
}


.new_container{
    height: 200px;
    /* width: 200px; */
    background-color: red;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    height: 32vh;
    
}

.text_style{
    font-style: italic;
}

.Main_text{
    font-size: 3.8rem;
    text-align: center;
}


.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}